<li class="list-group-item">
    <div class="container">
        <div class="row">
            <div class="col-md-6"><img src="../../../assets/img/936c20b968e1827f0c141ccb57152b6ef809e18e_rueil-carre-arsenal-appartement-web-min.webp" alt="img_appartement" height="200" width="400"></div>
            <div class="col-md-6">
                <h4 style="color: crimson;">{{ title }}</h4>
                <br>
                <h4>Propriétaire : {{ owner }}</h4>
                <hr>
                <h4>Adresse : {{ adress }}</h4>
                <hr>
                <h4>Prix : <span style="color:darkgreen;"> {{ price }} <b>ETH</b></span></h4>
            </div>
        </div>
    </div>
</li>
