<section>
    <div class="row">.</div>
    <div class="container" style="background-color: white;">
        <h2 style="text-align: center; color:crimson">{{ this.curHouse.title }}</h2>
        <div class="row">
            <div class="col-md-12">
              <ng-container *ngIf="this.curHouse.pictureUrl; else not_found">
                <img src="{{this.curHouse.pictureUrl }}" alt="img_appartement" height="500" width="1100">
              </ng-container>
              <ng-template #not_found><img src='../../../assets/img/image-not-found.jpeg' alt="img_appartement" height="500" width="1100"></ng-template>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <p>Proprietaire : {{ this.curHouse.owner }}</p>
                <p>Addresse : {{ this.curHouse.location }}</p>
                <p>Prix : <span style="color: darkgreen;">{{ this.curHouse.price }} <b>ETH</b></span></p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <p>Taille : {{ this.curHouse.size}} <b>m²</b></p>
            </div>
            <div class="col-md-4">
                <p>Nombre de chambres : {{ this.curHouse.nbBedroom }}</p>
            </div>
            <div class="col-md-4">
                <p>Nombre de pièces : {{ this.curHouse.nbRoom }}</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <b>A propos : </b>
                <p>{{ this.curHouse.description }}</p>
            </div>
        </div>
    </div>
    <br>
    <section>
        <div class="container">
            <a class="btn btn-primary" [routerLink]="['/home']" routerLinkActive="active">Retour à la liste</a>
            <div class="float-right">
                <a class="btn btn-success"(click)="purchase(this.curHouse)">Acheter</a>
            </div>
        </div>
    </section>
</section>
<br>
<br>
<br>
<br>
<br>
