<h1>Liste des biens immobilier : </h1>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-12">
                <div style="background-color: white;">
                    <ul class="list-group">
                        <app-house></app-house>
                        <app-house></app-house>
                        <app-house></app-house>
                        <app-house></app-house>
                        <app-house></app-house>
                        <app-house></app-house>
                        <app-house></app-house>
                        <app-house></app-house>
                        <app-house></app-house>
                        <app-house></app-house>
                        <app-house></app-house>
                        <app-house></app-house>
                        <app-house></app-house>
                        <app-house></app-house>
                        <app-house></app-house>
                        <app-house></app-house>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
